Poštovani {{ name }},
<br><br>
Hvala Vam što ste se registrovali na aplikaciji Mojrokovnik.
<br><br>
Molimo Vas da potvrdite svoju mail adresu klikom na <a href="{{ absolute_url(confirmation_url) }}">ovaj link</a>.
<br><br>
Želimo Vam sve najbolje u daljem korišćenju aplikacije. Za bilo kakve savete, primedbe ili sugestije, slobodno nam se obratite na mail: <a href="mailto:info@mojrokovnik.com">info@mojrokovnik.com</a>.
<br><br>
Srdačan pozdrav,
Vaš Mojrokovnik Tim
