parameters:
    client_url: 'http://mojrokovnik.com'
    client_confirmation: 'http://mojrokovnik.com/#/login'
    database_host: 127.0.0.1
    database_port: null
    database_name: mojrokovnik
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_port: 587
    secret: MojrokovnikAdvokatskaKancelarija